{% extends "::base.html.twig" %}
{%block breadcrumb%}
<li class="active"> Todos list</li>
{%endblock%}
{% block mainContent %}
  {% stylesheets  filter='cssrewrite' 
 'bundles/pages/css/jquery.dataTables.css'

        %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
<div class="container" >

    <!-- start: PAGE CONTENT -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <!-- start: DYNAMIC TABLE PANEL -->
            <div class="panel panel-white">
                <div class="panel-heading">
                    
                    <div class="panel-tools">
                        <div class="dropdown">
                            <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                                <li>
                                    <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                                </li>
                                <li>
                                    <a class="panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i> <span>Refresh</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="panel-expand" href="#">
                                        <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 space20">
                        <a class="btn btn-green add-row" href="{{path('todo/new')}}">
                            Add New <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <table class="table table-striped table-hover table-full-width" cellspacing="0" width="100%" id="example">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th class="hidden-xs">Username</th>
                                <th>Entity Name</th>
                                <th class="hidden-xs">Status</th>
                                <th>Start Date</th>
                                <th>Due Date</th>  
                                <th></th>



                            </tr>
                        </thead>
                        <tbody>
                        {% for todo in todos %}
                        <td >{{todo.subject }}</td>
                        <td class="hidden-xs" >{{todo.user}}</td>                       
                        <td >{{todo.entity}}</td>
                        <td class="hidden-xs">   {% if todo.status =="pending" %}                            
                            <span class="label label-sm label-success">{{todo.status }}</span>
                                {% elseif  todo.status =="completed" %}
                            <span class="label label-sm label-success">{{todo.status }}</span>
                            {% elseif  todo.status =="planned" %}
                            <span class="label label-sm label-warning">{{todo.status }}</span>
                            {% elseif  todo.status =="cancelled" %}
                            <span class="label label-sm label-danger">{{todo.status }}</span>
                                  {% else %}
                            <span class="label label-sm label-warning">{{todo.status }}</span>
                              {% endif %}  </td>
                        
                        <td>{{ todo.startDate|date('Y-m-d H:i') }}</td>
                        <td>{{ todo.dueDate |date("Y-m-d H:i")}}</td>



                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="{{ path('todo/edit', {'id': todo.id}) }}" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>
                                <a href="{{ path('todo', {'id': todo.id}) }}" class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Show"><i class="fa fa-share"></i></a>
                                <a href="{{ path('todo/delete', {'id': todo.id}) }}" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Remove" ><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group">
                                    <a class="btn btn-green dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                        <i class="fa fa-cog"></i> <span class="caret"></span>
                                    </a>
                                    <ul role="menu" class="dropdown-menu pull-right dropdown-dark">
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="{{ path('todo/edit', {'id': todo.id}) }}">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="{{ path('todo', {'id': todo.id}) }}">
                                                <i class="fa fa-share"></i> Show
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="{{ path('todo/delete', {'id': todo.id}) }}">
                                                <i class="fa fa-times"></i> Remove
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div></td>

                        </tr>

 {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end: DYNAMIC TABLE PANEL -->
        </div>
    </div>

    <!-- end: PAGE CONTENT-->

    <div class="subviews">
        <div class="subviews-container"></div>
    </div>
</div>

  {% javascripts 
        'bundles/user/js/jQuery/jquery-2.1.1.min.js'   
         'bundles/pages/js/jquery.dataTables.min.js'    
            'bundles/pages/js/table-data.js' 
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}

{%endblock%}