
{% if form_errors(form) %}
    <div class="col-md-12">
        <div class="alert alert-danger">{{ form_errors(form) }}</div>
    </div>

{% endif %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    <div class="col-md-6 " style="border-right: 1px solid #DDDDDD; padding-right: 15px;">
        <div class="form-group">
            <div class="thumbnail">
                <img src="{{ asset('bundles/pages/images/anonymous.jpg') }}" alt="" width="50" height="50">
                <div class="caption" style="text-align: center;">
                    <button id="uploadBTN" class="btn btn-light-grey btn-file">
                        <i class="fa fa-picture-o"></i> Select image     
                    </button>

                </div>
            </div>
            {{ form_widget(form.file) }}

        </div> 
        <div class="form-group">
            {{ form_label(form.username, 'Username') }}<span class="symbol required"></span>
            {{ form_widget(form.username) }}

        </div>
        <div class="form-group">

            {{ form_widget(form.plainPassword) }}

        </div>
        <div class="form-group">
            {{ form_label(form.email, 'Email') }}<span class="symbol required"></span>
            {{ form_widget(form.email) }}

        </div>
        <div class="form-group">
            {{ form_label(form.roles, 'Role') }}<span class="symbol required"></span>
            {{ form_widget(form.roles) }}

        </div>

        <div class="form-group">
            {% trans %}Last Name{% endtrans %}<span class="symbol required"></span>
            {{ form_widget(form.lastName) }}

        </div>

        <div class="form-group">
            {% trans %}First Name{% endtrans %}<span class="symbol required"></span>
            {{ form_widget(form.firstName) }}

        </div>

        <div class="form-group">
            {{ form_label(form.departement, 'Departement') }}<span class="symbol required"></span>
            {{ form_widget(form.departement) }}

        </div>

        <div class="form-group">
            {{ form_label(form.phone, 'Phone') }}
            {{ form_widget(form.phone) }}

        </div>
        <div class="form-group">
            Mobile<span class="symbol required"></span>
            {{ form_widget(form.mphone) }}

        </div>
    </div>
    <div class="col-md-6">


        <div class="form-group">
            {% trans %}Country{% endtrans %}<span class="symbol required"></span>
            {{ form_widget(form.country) }}

        </div>
        <div class="form-group">
            {% trans %}City{% endtrans %}<span class="symbol required"></span>
            {{ form_widget(form.city) }}

        </div>
        <div class="form-group">
            {% trans %}Address{% endtrans %}
            {{ form_widget(form.address) }}

        </div>
        <div class="form-group">
            {% trans %}Zip Code{% endtrans %}
            {{ form_widget(form.zip_code) }}

        </div>

        {{ form_widget(form.position, { 'attr': {'style': 'display:none'} }) }}

        <div class="panel-body panel-scroll height-300">
            <div id="divMap"></div>
        </div>


    </div>
    {{ form_widget(form) }}

    <div class="col-md-12">
        <button class="btn btn-green col-md-4 col-xs-12" type="submit" style="margin-top: 5%;float: right;">
            <i class="fa fa-floppy-o"></i> {% trans %}Submit{% endtrans %}
        </button>
    </div>

</form>
{% javascripts 
   'bundles/user/js/jQuery/jquery-2.1.1.min.js'   
 
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=fr-fr"></script>

{% endjavascripts %}
<script>
    window.onload = GetMap;
    var map = null;
    var pin;

    // load Map Content with a handler on click to insert a pushpin
    function GetMap() {

        Microsoft.Maps.loadModule('Microsoft.Maps.Themes.BingTheme',
                {
                    callback: function () {
                        map = new Microsoft.Maps.Map(document.getElementById('divMap'),
                                {
                                    credentials: "AoqgNgDfcQ1C-pSBC6q8hJj9jxslNxwEzb8sySpQJtOZSCtg3GXWy11AFqx_5--Z",
                                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                                    enableClickableLogo: false,
                                    enableSearchLogo: false,
                                    center: new Microsoft.Maps.GeoLocationProvider(map).getCurrentPosition({showAccuracyCircle: false}),
                                    zoom: 5,
                                    showBreadcrumb: false
                                });

                    }
                });
    }

    $("#fos_user_registration_form_city").change(function () {

        if ($(this).val() !== "")
        {
            LoadSearchModule();
        }

    });

    $("#fos_user_registration_form_address").change(function () {

        if ($(this).val() !== "")
        {
            LoadSearchModule2();
        }

    });

    function LoadSearchModule() {
        Microsoft.Maps.loadModule('Microsoft.Maps.Search', {callback: searchRequest})
    }
    function LoadSearchModule2() {
        Microsoft.Maps.loadModule('Microsoft.Maps.Search', {callback: searchRequest2})
    }

    function createSearchManager() {
        map.addComponent('searchManager', new Microsoft.Maps.Search.SearchManager(map));
        searchManager = map.getComponent('searchManager');
    }
    function createSearchManager2() {
        map.addComponent('searchManager', new Microsoft.Maps.Search.SearchManager(map));
        searchManager = map.getComponent('searchManager');
    }

    function searchRequest() {
        createSearchManager();
        var query = $('#fos_user_registration_form_country').val() + " " + $('#fos_user_registration_form_city').val() + " ";
        if (query != "")
        {
            var request = {
                query: query,
                count: 20,
                startIndex: 0,
                bounds: map.getBounds(),
                callback: search_onSearchSuccess,
                errorCallback: search_onSearchFailure
            };
            searchManager.search(request);
        }
        else
            alert('champ vide');
    }
    function searchRequest2() {
        createSearchManager2();
        var query = $('#fos_user_registration_form_country').val() + " " + $('#fos_user_registration_form_city').val() + " " + $('#fos_user_registration_form_address').val() + " " + $("#fos_user_registration_form_zip_code");
        if (query != "")
        {
            var request = {
                query: query,
                count: 20,
                startIndex: 0,
                bounds: map.getBounds(),
                callback: search_onSearchSuccess2,
                errorCallback: search_onSearchFailure2
            };
            searchManager.search(request);
        }
        else
            alert('champ vide');
    }

    function search_onSearchSuccess(result, userData) {

        if (result.searchRegion.mapBounds !== null) {

            search_createMapPin(result['searchRegion']['geocodeLocations']['0']['location']['latitude'], result['searchRegion']['geocodeLocations']['0']['location']['longitude']);
            map.setView({
                bounds: result.searchRegion.mapBounds.locationRect
            });
        }
        else {
            console.log('pas de resultat');
        }
    }

    function search_onSearchSuccess2(result, userData) {

        if (result.searchRegion.mapBounds !== null) {

            search_createMapPin(result['searchRegion']['geocodeLocations']['0']['location']['latitude'], result['searchRegion']['geocodeLocations']['0']['location']['longitude']);
            map.setView({
                bounds: result.searchRegion.mapBounds.locationRect
            });
        }
        else {
            console.log('pas de resultat');
        }
    }

    function search_createMapPin(a, b) {
        var pushpinOptions = {draggable: true};
        pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(a, b), pushpinOptions);

        Microsoft.Maps.Events.addHandler(pin, 'click', function () {

        });
        map.entities.clear();
        map.entities.push(pin);
        var pushpindragend = Microsoft.Maps.Events.addHandler(pin, 'dragend', endDragDetails);

        console.log(a + "," + b);
        $("#fos_user_registration_form_position").val(a + "," + b);


    }

    endDragDetails = function (e)
    {    //console.log(e.entity.getLocation().latitude+","+e.entity.getLocation().longitude ); 
        $.ajax({
            url: "http://dev.virtualearth.net/REST/v1/Locations/" + e.entity.getLocation().latitude + "," + e.entity.getLocation().longitude,
            dataType: "jsonp",
            data: {
                key: "AoqgNgDfcQ1C-pSBC6q8hJj9jxslNxwEzb8sySpQJtOZSCtg3GXWy11AFqx_5--Z",
                q: 'xml'
            },
            jsonp: "jsonp",
            success: function (data) {


                console.log(e.entity.getLocation().latitude + "," + e.entity.getLocation().longitude);

                $("#fos_user_registration_form_position").val(e.entity.getLocation().latitude + "," + e.entity.getLocation().longitude);

                var result = data.resourceSets[0];
                if (result) {
                    if (result.estimatedTotal > 0) {

                        var rslt = result.resources[0].address;
                        $("#fos_user_registration_form_zip_code").val(rslt.postalCode);
                        $("#fos_user_registration_form_address").val(rslt.formattedAddress)
                        $("#fos_user_registration_form_country").val(rslt.countryRegion)
                        $("#fos_user_registration_form_city").val(rslt.locality)
                    }
                }

            }
        });

    }

    function search_onSearchFailure(result, userData) {
        alert('Pas de Resultat');
    }
    function search_onSearchFailure2(result, userData) {
        alert('Pas de Resultat');
    }


</script>

